{% load static %}

<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="{% static 'style/main.css'%}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav id="menu">
            <a href="{% url 'home' %}"><img id="icon" src="{% static 'images/icon.png' %}"></a>
            <a href="{% url 'recipe_index' %}">Recipes</a>
            <a href="{% url 'menu_index' %}">Menus</a>
        </nav>
        <div id="content">
            {% block content %}
              NO CONTENT DEFINED. (THIS IS A PLACEHOLDER.)
            {% endblock %}
        </div>
        <footer>
            &copy Cookbook corp 2021
        </footer>
    </body>

</html>
