{% load static %}

<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="{% static 'style/main.css'%}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png'%}">
        <link rel="manifest" href="{% static 'images/site.webmanifest'%}">
        <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg'%}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
        <title>Cookbook</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav id="menu">
            <a class="tabs" href="{% url 'home' %}"><img id="icon" src="{% static 'images/icon.png' %}"><p>Home</p></a>
            <a class="tabs" href="{% url 'recipe_index' %}">Recipes</a>
            <a class="tabs" href="{% url 'menu_index' %}">Menus</a>
        </nav>
        <div id="content">
            {% block content %}
              NO CONTENT DEFINED. (THIS IS A PLACEHOLDER.)
            {% endblock %}
        </div>
        <footer>
            &copy Cookbook corp 2021
        </footer>
    </body>

</html>