{% extends 'cookbook/base.html' %}

{% block content %}
<h1>{{ recipe.name }}</h1>

(Part of <a class="btn" href="{% url 'menu_detail' menu.id %}">{{menu.name}}</a>)

{% if recipe.servings %}
  <h3>Serves {{ recipe.servings }} people.</h3>
{% endif %}

<h4>INGREDIENTS</h4>
{% if stepsAndIngredients.ingredients %}
  <ul>
    {%  for item in stepsAndIngredients.ingredients %}
      <li>
        {{ item }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No ingredients are assigned.</p>
{% endif %}

<h4>STEPS</h4>
{% if stepsAndIngredients.steps %}
<ul>
    <ol>
      {% for step in stepsAndIngredients.steps %}
      <li>{{ step }}</li>
      {% endfor %}
    </ol>
  </ul>
{% else %}
  <p>No steps are assigned. Toss them all together!</p>
{% endif %}

{% endblock %}
